body{
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.coloured-text{
    color:orange;
}
.sized-text{
    font-size: 25px;
}
.font-changed{
    font-style: italic;
}
.uppercase-text{
    text-transform: uppercase;
}
.container{
    position: relative;
}
.penguin{
    width: 100px;
    height: auto;
}
.absolute{
    background-color: lightyellow;
    position: absolute;
    right: 0px;
}
.relative{
    background-color: lightgreen;
    position: relative;
    left: 0px;
}
.fixed{
    background-color: lightblue;
    position: fixed;
    bottom: 0px;
    right: 750px;
    opacity: 0.5;
}
.nested p{
    color: red;
    font-weight: bold;
}
.box{
    background-color: aquamarine;
    border: 5px dotted black;
    width:300px;
    height:300px;
    margin: 30px;
    padding: 20px;
}